<h1 class="title" [innerHTML]="'terms-title' | translate"></h1>
<div class="halfsize">
  <div class="content">
    <p class="terms-update-date">{{ 'terms-update-date' | translate}}</p>
    <div class="term">
      <div class="number main">1</div>
      <div class="term-title" [innerHTML]="'terms-1-title' | translate"></div>
      <div class="text" [innerHTML]="'terms-1' | translate"></div>
    </div>
    <div class="term">
      <div class="number main">2</div>
      <div class="term-title" [innerHTML]="'terms-2-title' | translate"></div>
      <div class="text" [innerHTML]="'terms-2' | translate">
      </div>
    </div>
    <div class="term">
      <div class="number main">3</div>
      <div class="term-title" [innerHTML]="'terms-3-title' | translate"></div>
      <div class="term">
        <div class="number">3.1</div>
        <div class="text" [innerHTML]="'terms-3.1' | translate"></div>
      </div>
      <div class="term">
        <div class="number">3.2</div>
        <div class="text" [innerHTML]="'terms-3.2' | translate">
        </div>
      </div>
      <div class="term">
        <div class="number">3.3</div>
        <div class="text" [innerHTML]="'terms-3.3' | translate">
        </div>
      </div>
      <div class="term">
        <div class="number">3.4</div>
        <div class="text" [innerHTML]="'terms-3.4' | translate">
        </div>
      </div>
      <div class="term">
        <div class="number">3.5</div>
        <div class="text" [innerHTML]="'terms-3.5' | translate">
        </div>
      </div>
      <div class="term">
        <div class="number">3.6</div>
        <div class="text" [innerHTML]="'terms-3.6' | translate">
        </div>
      </div>
    </div>
    <div class="term">
      <div class="number main">4</div>
      <div class="term-title" [innerHTML]="'terms-4-title' | translate"></div>
      <div class="term">
        <div class="number">4.1</div>
        <div class="text" [innerHTML]="'terms-4.1' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.2</div>
        <div class="text" [innerHTML]="'terms-4.2' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.3</div>
        <div class="text" [innerHTML]="'terms-4.3' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.4</div>
        <div class="text" [innerHTML]="'terms-4.4' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.5</div>
        <div class="text" [innerHTML]="'terms-4.5' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.6</div>
        <div class="text" [innerHTML]="'terms-4.6' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.7</div>
        <div class="text" [innerHTML]="'terms-4.7' | translate">x</div>
      </div>
      <div class="term">
        <div class="number">4.8</div>
        <div class="text" [innerHTML]="'terms-4.8' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.9</div>
        <div class="text" [innerHTML]="'terms-4.9' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.10</div>
        <div class="text" [innerHTML]="'terms-4.10' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.11</div>
        <div class="text" [innerHTML]="'terms-4.11' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.12</div>
        <div class="text" [innerHTML]="'terms-4.12' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.13</div>
        <div class="text" [innerHTML]="'terms-4.13' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.14</div>
        <div class="text" [innerHTML]="'terms-4.14' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.15</div>
        <div class="text" [innerHTML]="'terms-4.15' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.16</div>
        <div class="text" [innerHTML]="'terms-4.16' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.17</div>
        <div class="text" [innerHTML]="'terms-4.17' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.18</div>
        <div class="text" [innerHTML]="'terms-4.18' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.19</div>
        <div class="text" [innerHTML]="'terms-4.19' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.20</div>
        <div class="text" [innerHTML]="'terms-4.20' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.21</div>
        <div class="text" [innerHTML]="'terms-4.21' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.22</div>
        <div class="text" [innerHTML]="'terms-4.22' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.23</div>
        <div class="text" [innerHTML]="'terms-4.23' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.24</div>
        <div class="text" [innerHTML]="'terms-4.24' | translate"></div>
        <div class="term">
          <div class="number">4.24.1</div>
          <div class="text" [innerHTML]="'terms-4.24.1' | translate"></div>
        </div>
        <div class="term">
          <div class="number">4.24.2</div>
          <div class="text" [innerHTML]="'terms-4.24.2' | translate"></div>
        </div>
        <div class="term">
          <div class="number">4.24.3</div>
          <div class="text" [innerHTML]="'terms-4.24.3' | translate"></div>
        </div>
        <div class="term">
          <div class="number">4.24.4</div>
          <div class="text" [innerHTML]="'terms-4.24.4' | translate"></div>
        </div>
        <div class="term">
          <div class="number">4.24.5</div>
          <div class="text" [innerHTML]="'terms-4.24.5' | translate"></div>
        </div>
        <div class="term">
          <div class="number">4.24.6</div>
          <div class="text" [innerHTML]="'terms-4.24.6' | translate"></div>
        </div>
        <div class="term">
          <div class="number">4.24.7</div>
          <div class="text" [innerHTML]="'terms-4.24.7' | translate"></div>
        </div>
      </div>
      <div class="term">
        <div class="number">4.25</div>
        <div class="text" [innerHTML]="'terms-4.25' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.26</div>
        <div class="text" [innerHTML]="'terms-4.26' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.27</div>
        <div class="text" [innerHTML]="'terms-4.27' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.28</div>
        <div class="text" [innerHTML]="'terms-4.28' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.29</div>
        <div class="text" [innerHTML]="'terms-4.29' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.30</div>
        <div class="text" [innerHTML]="'terms-4.30' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.31</div>
        <div class="text" [innerHTML]="'terms-4.31' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.32</div>
        <div class="text" [innerHTML]="'terms-4.32' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.33</div>
        <div class="text" [innerHTML]="'terms-4.33' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.34</div>
        <div class="text" [innerHTML]="'terms-4.34' | translate"></div>
      </div>
      <div class="term">
        <div class="number">4.35</div>
        <div class="text" [innerHTML]="'terms-4.35' | translate"></div>
      </div>
    </div>
  </div>
</div>
